h1 {
  color: #600000;
  margin-left: 20%;
}

input {
  width: 50px;
  height: 50px;
  margin: 0px;
}

input#coma {
  margin-right: 54px;
}

input#clear {
  margin-left: 20%;
  width: 105px;
}

input#resultat {
   width: 210px;
   height: 50px;
   margin-bottom: 5px;
   margin-left: 20%;
   font-size: 40px;
   text-align: right;
}

input.margin {
  margin-left: 20%;
}

input.marginB {
  margin-bottom: 20%;
}

input[type=image] {
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-left: 5%;
}

.content {
  border-style: solid ;
  margin-left: 30%;
  margin-right: 30%;
}
