body {
  background-image: url('/Images/bgi4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.date, .time {
  color: white;
  font-weight: bold;
}

h1 {
  color: #600000;
<<<<<<< HEAD
  margin-left: 20%;
=======
  margin-left: 12%;
>>>>>>> master
}

input {
  width: 50px;
  height: 50px;
  margin: 0px;
  margin-top: 5px;
  border-radius: 20px;
}

input#coma {
  margin-right: 54px;
}

<<<<<<< HEAD
input#clear {
  margin-left: 20%;
  width: 105px;
=======
input.retr {
  width: 50px;
>>>>>>> master
}

input#resultat {
   width: 210px;
   height: 50px;
   margin-bottom: 5px;
   margin-left: 20%;
   font-size: 40px;
   text-align: right;
}

input.margin {
  margin-left: 20%;
}

input.marginB {
  margin-bottom: 20%;
}

input[type=image] {
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-left: 5%;
}

.content {
  border-style: solid ;
  margin-left: 30%;
  margin-right: 30%;
}
