body {
  background-image: url('/Images/bgi2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  color: white;
  margin-top: 150px;
}

.date, .time {
  color: white;
  font-weight: bold;
}

h3 {
  color: white;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container {
  text-align: center;
}

input[type=button] {
  width: 200px;
  height: 50px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 30px;
  border-color: red;
}

input[type=image] {
  width: 100px;
  height: 100px;
}

.informacio {
  float: right;
  margin: auto auto auto auto;
}

input[name="infoButton"] {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

#coorX, .coorX, #lblCoorX{
  font-size: 24px;
  display: inline;
}

#coorY, .coorY, #lblCoorY{
  font-size: 24px;
  display: inline;
  margin-bottom: 5%
}

.saveCoor {
  margin-bottom: 5%;
}
