body {
  background-image: url('/Images/bgi4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  color: #600000;
  margin-left: 5%;
}

.date, .time, .usuari {
  color: white;
  font-weight: bold;
}

input {
  width: 50px;
  height: 50px;
  margin: 0px;
  margin-top: 5px;
  border-radius: 20px;
}

input.clear {
  width: 104px;
  margin-left: 54px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-color: red;
}

input.retr {
  width: 104px;
  margin-left: 10%;
  margin-top: 20px;
  margin-bottom: 10px;
  border-color: red;
}

input.igual {
  height: 105px;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
}

input#resultat {
   width: 258px;
   height: 50px;
   margin-bottom: 5px;
   margin-left: 10%;
   margin-right: 5%;
   font-size: 40px;
   text-align: right;
}

input#margin {
  margin-left: 10%;
}

input.margin {
  margin-left: 10%;
}

input.marginB {
  margin-bottom: 5%;
}

input[type=image] {
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-left: 5%;
}

input[type=button] {
  color: #FFFFFF;
  background-color: #5E5E5E;
  font-weight: bold;
  font-size: 16px;
}

.content {
  border-style: solid ;
  margin: 5% 20% 5% 20%;
  width: 350px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
  background-color: #C5C5C5;
}
