h1 {
  color: white;
}

h2 {
  display: inline;
  color: white;
}

body {
  background-image: url('/Images/bgi1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.container {
  text-align: center;
}

input[type=button] {
  width: 200px;
  height: 50px;
}

input[type=image] {
  width: 100px;
  height: 100px;
}

.informacio {
  float: right;
  margin: auto 10px 10px 10px;
}

input[name="infoButton"] {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
